# Earthquake Visualization Project

In [21]:
from google.colab import files
import numpy as np
import io
import pandas as pd

In [22]:
uploaded = files.upload()

Saving earthquake .csv to earthquake  (2).csv

In [24]:
df = pd.read_csv(io.BytesIO(uploaded['earthquake .csv']))

In [41]:
df = df.drop(columns = ['horizontalError',
                        'depthError',
                        'magError',
                        'magNst',
                        'status',
                        'locationSource',
                        'magSource',
                        'magType',
                        'nst'])

In [42]:
df

                          time  ...        type
0     2021-05-21T18:04:13.537Z  ...  earthquake
1     2021-03-20T09:09:43.966Z  ...  earthquake
2     2021-03-04T19:28:33.178Z  ...  earthquake
3     2021-03-04T17:41:23.370Z  ...  earthquake
4     2021-03-04T13:27:34.647Z  ...  earthquake
...                        ...  ...         ...
1418  1901-08-09T18:33:00.000Z  ...  earthquake
1419  1901-08-09T13:01:00.000Z  ...  earthquake
1420  1900-10-29T09:11:00.000Z  ...  earthquake
1421  1900-10-09T12:25:00.000Z  ...  earthquake
1422  1900-07-29T06:59:00.000Z  ...  earthquake

[1423 rows x 13 columns]

Which place had the most earthquakes

In [ ]:
places = df['place'].tolist()